:root {
    --main-width: 1440px;
    --main-height: 800px;
    --container-width: 44.1%;
    --container-height: 59.4%;
    --container-grid-t-columns: 50% 50%;
    --container-grid-t-rows: 216px 1fr;
    --container-grid-t-areas:
        "join join"
        "monthly why";
    --pad-left: 39px;
    --pad-right: 39px;
    --join-h1-font-size: 23.5px;
    --join-h1-line-height: 27px; 
    --join-h3-font-size: 17.5px;
    --join-h4-font-size: 15.6px;
    --monthly-border-radius: 0px 0px 0px 7px;
    --why-border-radius: 0px 0px 7px 0px;
}

@media (max-width: 1249px){

    :root {
        --main-width: 375px;
        --main-height: 870px;
        --container-width: 82.9%;
        --container-height: 83%;
        --container-grid-t-columns: 100%;
        --container-grid-t-rows: 267px 1fr 1fr;
        --container-grid-t-areas:
        "join"
        "monthly"
        "why";
        --pad-left: 24px;
        --pad-right: 24px;
        --join-h1-font-size: 19.5px;
        --join-h1-line-height: 23px;
        --join-h3-font-size: 14.5px;
        --join-h4-font-size: 13.5px;
        --monthly-border-radius: 0px;
        --why-border-radius: 0px 0px 7px 7px;
    }

}

* {
    margin: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: var(--main-width, 1440px);
    height: var(--main-height, 800px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Karla;
    background: #E5EFF5;
}

@media only screen and (min-width:1250px) and (max-width:1440px){
   
    main{
        transform:scale(0.85);
        transition:  ease-in-out 0.3s;
    }
    
}

@media only screen and (min-height:0px) and (max-height:810px){
   
    main{
        transform:scale(0.75);
        transition: ease-out 0.1s;
    }
    
}

.container {
    width: var(--container-width, 44.1%);
    height: var(--container-height, 59.4%);
    display: grid;
    grid-template-columns: var(--container-grid-t-columns, 50% 50%);
    grid-template-rows: var(--container-grid-t-rows, 216px 1fr);
    grid-template-areas: var(--container-grid-t-areas, "join join"
    "monthly why");
    box-shadow: 5px 10px 40px rgba(122, 146, 184, 0.5);
    border-radius: 7px;
}

.join, .monthly, .why {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: var(--pad-left, 39px);
    padding-right: var(--pad-right, 39px);
}

.join {
    grid-area: join;
    background-color: #FFF;
    border-radius: 7px 7px 0px 0px;
    font-style: normal;
}

.join h1 {
    font-weight: bold;
    font-size: var(--join-h1-font-size, 23.5px);
    line-height: var(--join-h1-line-height, 27px);
    color: #2AB2AF;
}

.join h3 {
    font-weight: bold;
    font-size: var(--join-h3-font-size, 17.5px);
    line-height: 20px;
    color: #C0DF34;
}

.join h4 {
    font-weight: normal;
    font-size: var(--join-h4-font-size, 15.6px);
    line-height: 25px;
    color: #98A6BD;
}

h2 { 
    font-weight: bold;
    font-size: 17.5px;
    line-height: 25px;
}

.monthly {
    grid-area: monthly;
    background-color: #2AB2AF;
    border-radius: var(--monthly-border-radius, 0px 0px 0px 7px);
    color: #FFF;
    font-style: normal;
}

.hgroup {
    display: flex;
}

.monthly h1 {
    font-weight: bold;
    font-size: 31.5px;
    line-height: 25px;
    padding-right: 12px;
}

.monthly h3 {
    font-weight: normal;
    font-size: 15.5px;
    line-height: 25px;
}

.button {
    width: 100%;
    height: 48px;
    background-color: #C0DF34;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #FFF;
    border: 1px solid #C0DF34;
}

.why {
    grid-area: why;
    background-color: rgba(46,189,186,0.75);
    border-radius: var(--why-border-radius, 0px 0px 7px 7px);
    color: #FFF;
    font-style: normal;
}

h5 {
    font-weight: normal;
    font-size: 13.3px;
    line-height: 22px;
    letter-spacing: 0.01em;
}


