:root {
    --body-height: 100vh;
    --main-width: 1440px;
    --main-height: 922px;
    --header-height: 297px;
    --h1-h2-font-size: 36.5px;
    --h3-margin: 0px 450px 0px 450px;
    --h3-line-height: 22px;
    --aside-direction: row;
    --aside-width: 1140px;
    --aside-height: 560px;
    --div-width: 33.3%;
    --extremes-height: 100%;
    --middle-height: 100%;
}

@media only screen and (min-width:1140px) and (max-width:1440px){
   
    * {
        transition: ease-in-out 1s;    
    }

    main{
        transform:scale(0.75);
        transition-duration: .5s;;
    }
    
}

@media only screen and (min-height:0px) and (max-height:810px){
   
    * {
        transition: ease-in-out 1s;    
    }

    main{
        transform:scale(0.5);
        transition-duration: 1s;;
    }
    
}

@media  (max-width:1140px) {

    * {
        transition: ease-in-out 1s;    
    }

    :root {
        --body-height: 1500px;
        --main-width: 375px;
        --main-height: 1360px;
        --header-height: 310px;
        --h1-h2-font-size: 24.5px;
        --h3-margin: 0px 30px 0px 30px;
        --h3-line-height: 25px;
        --aside-direction: column;
        --aside-width: 335px;
        --aside-height: 985px;
        --div-width: 100%;
        --extremes-height: 25%;
        --middle-height: 50%;
    }

    article {
        transform: scale(0.89);
    }

}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: var(--body-height, 100vh);
    background-color: gray;
}

main {
    background-color: #FAFAFA;
    width: var(--main-width, 1440px);
    height: var(--main-height, 922px);
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: var(--header-height, 297px);
    padding: 65px 0px 20px 0px;
}

h1, h2, h3, h4, h5 {
    font-style: normal;
}

h1, h2 {
    text-align: center;
    font-size: var(--h1-h2-font-size, 36.5px);
    line-height: 22px;
    color: #4C4E61;
}

h4, h5{
    margin: 6px 32px 10px 32px;
    font-weight: 500;
}

h1 { 
    font-weight: 200;
}

h2 { 
    font-weight: 700;
}

h3 {
    margin: var(--h3-margin, 0px 450px 0px 450px);
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: var(--h3-line-height, 22px);
    color: #A3A5AD;
}

h4 {
    padding-top: 24px;
    font-size: 20px;
    line-height: 30px;
    color: #4C4E61;
}

h5 {
    font-size: 13px;
    line-height: 22px;
    color: #A3A5AD;
}

aside {
    display: flex;
    flex-direction: var(--aside-direction, row);
    justify-content: space-between;
    width: var(--aside-width, 1140px);
    height: var(--aside-height, 560px);
}

aside div {
    width: var(--div-width, 33.3%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.extremes {
    height: var(--extremes-height, 100%);
}

.middle {
    height: var(--middle-height, 100%);
}

article {
    background-color: #FFF;
    width: 350px;
    height: 250px;
    border-radius: 6px;
    position: relative;
    box-shadow: -1px 10px 20px rgba(64, 123, 191, 0.25);
}

article div {
    position: absolute;
    height: 64px;
    width: 64px;
    right: 32px;
    bottom: 32px;
}

span {
    position: absolute;
    border-radius: 6px;
    width: 100%;
    height: 12px;    
}

#cyanBar {
    background: linear-gradient(180deg, hsl(180, 62%, 55%) 0%, hsl(180, 62%, 55%) 39%, #FFF 40%, #FFF 100%);
}

#redBar {
    background: linear-gradient(180deg, hsl(0, 78%, 62%) 0%, hsl(0, 78%, 62%) 39%, #FFF 40%, #FFF 100%);
}

#orangeBar {
    background: linear-gradient(180deg, hsl(34, 97%, 64%) 0%, hsl(34, 97%, 64%) 39%, #FFF 40%, #FFF 100%);
}

#blueBar {
    background: linear-gradient(180deg, hsl(212, 86%, 64%) 0%, hsl(212, 86%, 64%) 39%, #FFF 40%, #FFF 100%);
}



