:root {
    --ancho-pantalla: 1440px;
    --alto-pantalla: 800px;
}

@media (max-width: 1450px){
    :root {
        --ancho-pantalla: 375px;
        --alto-pantalla: 667px;
    }
}



body {
    background-color: #AAA;
}


.formato {
    background-color: #0C122C;
    width: var(--ancho-pantalla, 1440px);
    height: var(--alto-pantalla, 800px);
    position: relative;
    margin: auto;
}

